@import "./src/mocha/mocha.css";

body {
  height: 100%;
    overflow: auto;
}

.tester-menuItem {
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px 30px;
  min-height: 30px;
  display: inline-block;
}

#mocha .test:hover {
  font-weight: bold;
  text-decoration: underline;
}


#runFilteredTests,
#showFilteredTests {
  color: #2F6FAD;
  font-size: 20px;
}

#showAllTestsLink {
  color: #2F6FAD;
}
